These are the list of your searched tasks

<%@tasks.each do |task|%>
<h4>Task: <%=task.task %><br></h4>
<h4>Remarks: <%=task.remarks %><br></h4>	
<h4><%=task.start_date %><br></h4>
<h4><%=task.end_date %><br></h4>

<%end%>